In [9]:
import pandas as pd
df = pd.read_csv('gov_ecoinitiatives_budget.csv')

In [10]:
df

           gov_initiative  2018  2019  2020  2021  2022  2023
0        Bonus ecologique  6000  6000  7000  6000  6000  5000
1        Bonus ecologique   186   326   613  1094  1120   905
2  Prime a la transition    365   824   644   287   260   300

In [4]:
df.dtypes

gov_initiative    object
2018               int64
2019               int64
2020               int64
2021               int64
2022               int64
2023               int64
dtype: object

In [11]:
df.drop(0, inplace=True)

In [12]:
df

           gov_initiative  2018  2019  2020  2021  2022  2023
1        Bonus ecologique   186   326   613  1094  1120   905
2  Prime a la transition    365   824   644   287   260   300

In [13]:
df.insert(0, 'id', range(1, 3))
df.reset_index(drop=True)

   id          gov_initiative  2018  2019  2020  2021  2022  2023
0   1        Bonus ecologique   186   326   613  1094  1120   905
1   2  Prime a la transition    365   824   644   287   260   300

In [14]:
df

   id          gov_initiative  2018  2019  2020  2021  2022  2023
1   1        Bonus ecologique   186   326   613  1094  1120   905
2   2  Prime a la transition    365   824   644   287   260   300

In [16]:
df_melt = pd.melt(df, id_vars=['id','gov_initiative'], var_name='annee', value_name='valeur')
df_melt

    id          gov_initiative annee  valeur
0    1        Bonus ecologique  2018     186
1    2  Prime a la transition   2018     365
2    1        Bonus ecologique  2019     326
3    2  Prime a la transition   2019     824
4    1        Bonus ecologique  2020     613
5    2  Prime a la transition   2020     644
6    1        Bonus ecologique  2021    1094
7    2  Prime a la transition   2021     287
8    1        Bonus ecologique  2022    1120
9    2  Prime a la transition   2022     260
10   1        Bonus ecologique  2023     905
11   2  Prime a la transition   2023     300

In [17]:
df_melt ['id'] = range(1, len(df_melt ) + 1)
df_melt

    id          gov_initiative annee  valeur
0    1        Bonus ecologique  2018     186
1    2  Prime a la transition   2018     365
2    3        Bonus ecologique  2019     326
3    4  Prime a la transition   2019     824
4    5        Bonus ecologique  2020     613
5    6  Prime a la transition   2020     644
6    7        Bonus ecologique  2021    1094
7    8  Prime a la transition   2021     287
8    9        Bonus ecologique  2022    1120
9   10  Prime a la transition   2022     260
10  11        Bonus ecologique  2023     905
11  12  Prime a la transition   2023     300

In [18]:
df_melt.dtypes

id                 int64
gov_initiative    object
annee             object
valeur             int64
dtype: object

In [19]:
from unidecode import unidecode
df_melt['gov_initiative'] = df_melt['gov_initiative'].apply(unidecode)
df_melt

    id          gov_initiative annee  valeur
0    1        Bonus ecologique  2018     186
1    2  Prime a la transition   2018     365
2    3        Bonus ecologique  2019     326
3    4  Prime a la transition   2019     824
4    5        Bonus ecologique  2020     613
5    6  Prime a la transition   2020     644
6    7        Bonus ecologique  2021    1094
7    8  Prime a la transition   2021     287
8    9        Bonus ecologique  2022    1120
9   10  Prime a la transition   2022     260
10  11        Bonus ecologique  2023     905
11  12  Prime a la transition   2023     300

In [22]:
df_melt.to_csv('gov_ev_initiatives_budget.csv', index=False)